<div class="catalogue-item">
    <a href="{{ post.url | prepend: site.baseurl }}" style="color: #555;">
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        <p>
            {{ post.content | strip_html | truncatewords: 30 }}
        </p>
    </a>
    <span>
        {% for tag in post.tags %}
            {% if tag == page.name %}
                <a class="tag selected" href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }}</a>
            {% else %}
                <a class="tag" href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }}</a>
            {% endif %}
        {% endfor %}
    </span>
</div>