<nav class="nav">
    <div class="nav-container">
        <a href="{{ site.baseurl }}/">
            <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
            <li><a href="https://woowacourse.github.io/" target="_blank">Techcourse</a></li>
            <li><a href="https://github.com/woowacourse/javable/" target="_blank">Github</a></li>
            <li><a href="{{ site.baseurl }}/tags">Tags</a></li>
            <li><a href="{{ site.baseurl }}/comments">Comments</a></li>
        </ul>
    </div>
</nav>