#pagination {
    margin: 0;
    padding: 33px 0;
    text-align: center;
}

#pagination > li {
    list-style: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #1e1e1e;
    font-size: 14px;
    line-height: 18px; /* 18px = 20(height) - 2(border) */
    vertical-align: middle;
}

/* pagination */

#pagination > li + li {
    margin-left: 10px;
}

#pagination > li.active, #pagination > li:hover {
    background-color: #e6e6e6;
    border-radius: 4px;
}

#pagination > li > a {
    color: #1e1e1e;
    width: 100%;
    height: 100%;
    display:block;
}

#page-prev {
    background: url(../icon_pre.png) no-repeat center;
    background-size: 6px 11px;
}

#page-next {
    background: url(../icon_next.png) no-repeat center;
    background-size: 6px 11px;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px
}

.tag {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    vertical-align: middle;
    background-color: #fafafa;
    color: #1e1e1e;
    font-size: 12px;
    line-height: 24px;
}

.selected{
    color: whitesmoke;
    background-color: #555;
}

#link-back {
    padding-left: 17px; /* 17px = 10(spacing) + 7(icon width) */
    background: url(../icon_larrow.png) no-repeat left;
    background-size: 7px 11px;
}

.tag-header {
    text-align: center;
}

.tag-header a{
    color: #1e1e1e;
    float: left;
    padding-top: 1em;
}

.tag-header h1 {
    font-size: 2.5rem;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.card {
    box-sizing : border-box;
    display : flex;
    flex-direction : column;
    justify-content : flex-end;
    width : 80%;
    box-shadow : 0 0 15px #a8a8a8;
}

.third.card {
    justify-content : flex-start;
}

.comment-card {
    background-color : #fff;
    padding : 20px 20px;
    font-family : Georgia serif;
    color : #B4B8BD;
    font-size : 12px;
    display : flex;
}

.comment-wrapper {
    padding-left : 15px;
    display: flex;
    flex-direction: column;
}

.username {
    font-weight : bold;
}

.username > span {
    font-weight : normal;  
}

.round-icon {
    height : 40px;
    object-fit: cover;
    border-radius: 50%;
    width: 40px;
    padding-left : 5px;
    border: 0.5px solid #ddd;
}

.comment-card:last-child {
    padding-bottom : 50px;
}

.comment {
    text-align: left;
    margin: 0.25rem 0 0;
    display: inline-block;  
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal; 
    line-height: 1.2; 
    height: 2.4em; 
    text-align: left; 
    word-wrap: break-word; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;


}