---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  <div class="toc" id="table-of-contents">
    {{ content | toc }}
  </div>

  <br>
  <h2>Tags</h2>
  <span>
    {% for tag in page.tags %}
        {% if tag == page.name %}
            <a class="tag selected" href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }}</a>
        {% else %}
            <a class="tag" href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }}</a>
        {% endif %}
    {% endfor %}
  </span>
  {% include social-share.html %}
</div>

{% if page.comment %}
<script src="https://utteranc.es/client.js"
        repo="woowacourse/javable-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
